/* ---------------ЗМІННІ__________________ */
:root {
  --text-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --typical-margin: 10px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ----------------HEADER------------------- */
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 93px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-first {
  color: var(--title-color);
}

.header-list {
  display: flex;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 32px 0;
  letter-spacing: 0.02em;
  display: block;
  color: var(--title-color);
  position: relative;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-link:focus::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.envelope-icon:hover,
.smartphone-icon:hover,
.envelope-icon:focus,
.smartphone-icon:focus {
  fill: var(--accent-color);
}
.header-connect {
  display: flex;
  margin-left: auto;
}
.envelope-icon,
.smartphone-icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
*,
::before,
::after {
  box-sizing: inherit;
}
svg.icon-envelope {
  width: 16px;
  height: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail,
.header-tel {
  display: flex;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: var(--text-color);
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------------HERO-------------------- */

.hero {
  background-color: #2f303a;
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/screensaver.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  height: 120px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ----------------------------ABOUT------------------- */
.about {
  padding-bottom: 0;
}
.about-list {
  display: flex;
}
.about-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.antenna-icon,
.clock-icon,
.diagram-icon,
.astronaut-icon {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-item-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: var(--typical-margin);
  width: 270px;
}
.about-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  width: 270px;
}

/* ----------------------Activity-----------------------*/
.activity-list {
  display: flex;
}
.activity-item:not(:last-child) {
  margin-right: 30px;
}
.activity-item {
  width: calc((100% - 60px) / 3);
  position: relative;
}
.activity-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.activity-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}

/* ----------------------Team--------------------------*/
.team {
  background-color: #f5f4fa;
}
.team-title-main {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  width: calc((100% - 90px) / 4);
}
.team-item {
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-photo {
  display: block;
  width: 100%;
  height: 100%;
}
.team-figcaption {
  padding-top: 30px;
  padding-bottom: 16px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: var(--typical-margin);
}
.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.social-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 0;
  padding: 0;
}
.social-links-item:not(:last-child) {
  margin-right: 10px;
}
.social-links-item {
  width: 44px;
  height: 44px;
}
.social-links {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.instagram-icon,
.twitter-icon,
.facebook-icon,
.linkedin-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:hover,
.social-links:focus {
  background-color: var(--accent-color);
}
.social-links:hover .instagram-icon,
.social-links:hover .twitter-icon,
.social-links:hover .facebook-icon,
.social-links:hover .linkedin-icon,
.social-links:focus .instagram-icon,
.social-links:focus .twitter-icon,
.social-links:focus .facebook-icon,
.social-links:focus .linkedin-icon {
  fill: #ffffff;
}

/*---------------clients----------- */
.clients-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 50px;
  padding: 0;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-item {
  box-sizing: border-box;
  width: 170px;
  height: 92px;
}
.clients-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: var(--accent-color);
}
.clients-link:hover .client-icon,
.clients-link:focus .client-icon {
  fill: var(--accent-color);
}

/* ----------------------Footer--------------------------*/
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-block {
  display: flex;
}
.footer-container {
  margin-right: 70px;
}
.logo-second {
  color: #ffffff;
}
.footer-logo {
  margin-bottom: 20px;
}
.address {
  font-style: normal;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: var(--typical-margin);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: var(--typical-margin);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links-footer {
  display: block;
}
.social-links-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.item {
  background: rgba(255, 255, 255, 0.1);
}
.icon {
  fill: #ffffff;
}
/* -----------------PORTFOLIO-----------------------------*/
/* --------------------Portfolio-button----------------------- */
.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  box-shadow: none;
  transition-property: background-color, color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-current {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ---------------------Projects---------------------- */
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 370px;
  transition-property: border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:nth-of-type(3n) {
  margin-right: 0;
}

.project-title:hover,
.project-title:focus,
.project-text:hover,
.project-text:focus {
  color: var(--accent-color);
}
.projects-link {
  text-decoration: none;
}
.projects-item:hover,
.projects-item:focus {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-signature {
  padding: 20px 24px;
}

.project-title {
  text-decoration: none;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:hover .project-top-text {
  transform: translateY(0);
}
.projects-item:focus .project-top-text {
  transform: translateY(0);
}
.project-top-wrap {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------------------модальне вікно--------------------- */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden. modal {
  transform: translate(-50, -50) scale(0);
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;
  padding: 40px;
}
.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}
.close-icon {
  margin: 10px;
  fill: black;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.feedback {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
}

.feedback::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-checkbox {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
margin-top: 20px;
}

.checkbox-label {
 margin-left: 52px;
}

.contract-link {
  color: #2196F3;
  text-decoration: underline;
}

.modal-btn {
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: #FFFFFF;
width: 200px;
height: 50px;
margin-top: 30px;
margin-left: 164px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute
  left:0
  bottom:0
}